@page "/"
@using QuizApp_Project3.Client.Components


<PageTitle>Index</PageTitle>

<Greeting/>
<h2>Welcome to the quizApp.</h2>
<div class="alert alert-primary" role="alert">
    A simple primary alert—check it out!
</div>
