@page "/"
@using QuizApp_Project3.Client.Components


<div class="container mt-5 text-center">
    <PageTitle>Index</PageTitle>

    <Greeting />
    <h2 class="mt-3">Welcome to the quizApp.</h2>
</div>