@using QuizApp_Project3.Shared.ViewModels
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using System.Net.Http.Json
@using System.Security.Claims
@inject HttpClient Http
@inject AuthenticationStateProvider AuthenticationStateProvider

<div class="container mt-3">

    @if (listQuiz != null && listQuiz.Any())
    {
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Created</th>
                    <th>Number of Attempts</th>
                    <th>Max Score</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var quiz in listQuiz)
                {
                    <tr>
                        <td>@quiz.Title</td>
                        <td>@quiz.Created.ToString("MM/dd, HH:mm")</td>
                        <td>@quiz.NumberOfAttempts</td>
                        <td>@quiz.Score</td>
                    </tr>
                }
            </tbody>
        </table>
    }


    <button class="btn btn-primary" @onclick="HandleUserData">Get my quizzes</button>
</div>

@code {
    private List<QuizViewModel> listQuiz = new List<QuizViewModel> { };


    private async Task<List<QuizViewModel>> GetUserData()
    {
        var response = await Http.GetAsync("/quiz/userquiz");
        if (response.IsSuccessStatusCode)
        {
            var quizzes = await response.Content.ReadFromJsonAsync<List<QuizViewModel>>();
            return quizzes;
        }
        else
        {
            return null;
        }
    }

    private async Task HandleUserData()
    {
        var quizzes = await GetUserData();
        listQuiz = quizzes;
        StateHasChanged();
    }
}
