@inherits LayoutComponentBase

<div class="page">
    <div class="">
        <NavMenu />
    </div>

    <main>
        <div class="top-row bg-primary text-center px-4 auth">
            <LoginDisplay />
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
